$feature: -webkit-min-device-pixel-ratio;
$feature1: min-device-pixel-ratio;
@mixin border-1px($color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: '';
  }
  @media ($feature: 2), ($feature1: 2) {
    &:after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
  @media ($feature: 1.5), ($feature1: 1.5) {
    &:after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}
@mixin border-none() {
  &:after {
    display: none;
  }
}
